@font-face {
  font-family: "iconfont"; /* Project id 3901603 */
  src: url('iconfont.woff2?t=1676617838281') format('woff2'),
       url('iconfont.woff?t=1676617838281') format('woff'),
       url('iconfont.ttf?t=1676617838281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maikefeng:before {
  content: "\e606";
}

.icon-changpian:before {
  content: "\e607";
}

.icon-paihangbang:before {
  content: "\e7bc";
}

.icon-pengyou:before {
  content: "\e61a";
}

.icon-shouyinji:before {
  content: "\e612";
}

.icon-wangyiyunyinle:before {
  content: "\e63c";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-31wode:before {
  content: "\e601";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-rili:before {
  content: "\e609";
}

